<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h2>¡Bienvenido!</h2>
        </div>
        <div>
            <div>
                <a href="/products" class="btn btn-danger">
                    ver productos disponibles
                </a>
            </div>
            <div>
                <a href="/api/carts/66703c985e7a2c5102422757" class="btn btn-danger">
                    ver carrito
                </a>
            </div>
            <div>
                <div> <a href="/api/products/addProduct" class="btn btn-primary">agregar productos</a>
                </div>
            </div>
            <div>
                <div> <a href="/api/messages" class="btn btn-primary">agregar mensaje</a>
                </div>
            </div>
        </div>
    </div>